<!DOCTYPE html>
<html lang="en">
<head>
    <title>Result Generator</title>
</head>
<body>
    <form action="http://localhost:5000/result" method= 'post'>
        <p>Enter your name: <input type = 'text' name = 'name' /></p>
        <p>Physics Marks: <input type = 'number' name = 'phy' />
        <p>Chemistry Marks: <input type = 'number' name = 'che' /></p>
         <p>Maths Marks: <input type = 'number' name = 'mat' /></p>
        <p><input type = 'submit' value = 'OK'/></p>
    </form>
</body>
</html>